body {
    margin: 0;
}

.david, .jackie, .johnny {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    flex-direction: column;
    flex: 0 0 150px;
    height: 350px;
}

img {
    width: auto;
    height: 250px;
}

.david-caption, .jackie-caption, .johnny-caption {
    text-align: center;
    font-style: italic;
    margin: 15px;
}

.menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: row;
    gap: 25px;
}